

:root {
    --white: #2B2725;
    --lavenderhover: #7b6bbe;
    --lavender: #6d66ac;
    --darklavender: #615498;
    --purple: #6d66ac;
    --black: #fffcf9;
    --strong: #7af6c5;
}

/*HEADER*/
#home img {
	content: url('/images/headerDark.webp')
}
/*HOME IMAGES*/
#our-mission .img {
	background-image: url('/images/missiondark.webp') !important;
}
#our-vision .img {
	background-image: url('/images/visiondark.webp') !important;
}

body {
    visibility: visible;
    opacity: 1;
}