:root {
    --white: #FFFCF9;
    --lavenderhover: #d9d4f8;
    --lavender: #D1CCE1;
    --darklavender: #AFA9CF;
    --purple: #6d66ac;
    --black: #2B2725;
    --strong: #FFFCF9;
}

body {
    visibility: visible;
    opacity: 1;
}