body {
    font-size: 20px;
}

.space-down {
    margin-bottom: 4em !important;
}

#header-internal h1 {
    transform: skew(14deg);
}

#header-internal {
    transform: skew(-14deg); 
}

#chapters-dropdown {
    right: 0;
}
#about-us-dropdown {
    left: 0
}
#programs-dropdown {
    right: auto;
    left: auto;
}

.person-box {
    border: solid;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 1em;
    width: 7em;
}

.person-box img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.person-box p {
    margin-left: 5px;
    margin-right: 5px;
}

#header-internal {
    width: fit-content;
}

#header-internal h1 {
    font-size: 1.5em;
    padding: .5em;
}

#page-header #header-internal {
    margin-left: 1em;
}

/*CAROUSEL*/
.glide__arrows {
    display: none;
}
.glide__slide {
    width: unset
}
.slide-button {
    font-size: 14px;
}

.slide p {
    font-size: .75em;
    margin-left: 1em;
    margin-right: 1em;
}
.slide h1 {
    font-size: 1.2em;
    margin-left: .5em;
}

.main {
    width: 90%;
    margin: auto;
}

.two-column {
    flex-direction: column;
}

.two-column div, .two-column img {
    width: 90%;
    height: fit-content;
    margin-left: 1em;
    margin-right: 1em;
}

header {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
}

.header-link, .spacer {
    font-size: 1em;

}
header img {
    height: unset;
    width: 98%;
    padding-right: 2%;
    
}
nav {
    padding: .3em;
    width: 100%;
    justify-content: center;

}

nav a {
    margin-right: .2em;
    margin-left: .2em;
}

.white-button {
    display: none;
}

#our-section div.img, #our-section img {
	width: 100%;
    filter:blur(8px)
}
#our-section .padded {
    margin-right: 1.1em;
}
#our-mission .padded {
    padding-bottom: 5em;
}
#our-vision .padded {
    padding-top: 2em;
}

.section-text {
    position: absolute;
    background: rgba(255, 255, 255, 0.35);;
}

.section-text h2 {
    font-size: 1.5em;
    width: 96%;
}
.section-text p {
    font-size: 1em;
    width: 96%;
}

.section-text p, .section-text h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#our-vision div.img {
    margin-bottom: 6em;
}
#our-mission {
    margin-top: 4em;
    margin-bottom: 5em;
}

#our-mission .section-text {
    margin-bottom: 6em;
}

#our-vision div.img {
    margin-left: auto;
}

.font36 {
    font-size: 23px;
}

.slide-button {
    border-width: 3px;
}

body, html {        
    max-width: 100%;
        overflow-x: hidden;
}

.active {
    display: block !important;
}

.dropdown-content {
    padding-top: .1em;
}

header img, #home {
    height: unset;
}

.after, #footer-links {
    display: flex;
}

.after::after {
    height: 36px;
    width: 4px;

}
#central-office-email {
    font-size: 24px;
    margin-top: 5px;
} 
#footer-content, .wrap-mobile {
    flex-wrap: wrap;
}